# Dictionaries in python

In [1]:
d={}
print(d)
print(type(d))

{}
<class 'dict'>

In [6]:
# creating dictionary

d={"name":"Dhoni","age":39,"city":"Ranchi"}
print(d)

{'name': 'Dhoni', 'age': 39, 'city': 'Ranchi'}

In [8]:
# Another way of creating dictionary using the dict keyword
d=dict({"name":"dhoni"})
print(d)

{'name': 'dhoni'}

In [10]:
# creating dictionary with the help of Zip and dict
d=dict(zip(["name","age"],["dhoni",39]))
print(d)

{'name': 'dhoni', 'age': 39}

In [11]:
d=dict() # creating empty dictionary
print(d)

{}

In [13]:
# adding elemnts into a dictionary
d["name"]="dhoni"
d["age"]=39
print(d)

{'name': 'dhoni', 'age': 39}

In [15]:
d={"college_name":"sastra","state":"TamilNadu","DEPT":"ECE","city":"Kumbakaonam","pin-code":612001}
print(d)

{'college_name': 'sastra', 'state': 'TamilNadu', 'DEPT': 'ECE', 'city': 'Kumbakaonam', 'pin-code': 612001}

In [16]:
print(d.keys())

dict_keys(['college_name', 'state', 'DEPT', 'city', 'pin-code'])

In [17]:
print(d.values())

dict_values(['sastra', 'TamilNadu', 'ECE', 'Kumbakaonam', 612001])

In [18]:
print(d.items())

dict_items([('college_name', 'sastra'), ('state', 'TamilNadu'), ('DEPT', 'ECE'), ('city', 'Kumbakaonam'), ('pin-code', 612001)])

In [20]:
for key,value in d.items():
    print(key+"  : ",value)

college_name  :  sastra
state  :  TamilNadu
DEPT  :  ECE
city  :  Kumbakaonam
pin-code  :  612001

In [21]:
print(d.get("state"))

TamilNadu

In [22]:
print(d.get("country"))

None

In [25]:
# If the key is not present in the dictionary It returns the default value provided in the get method
# suntax: d.get("key-value","default-value")
(d.get("country","INDIA"))

'INDIA'

In [26]:
print(d)

{'college_name': 'sastra', 'state': 'TamilNadu', 'DEPT': 'ECE', 'city': 'Kumbakaonam', 'pin-code': 612001}

In [27]:
d1=d.copy()

In [28]:
print(d1)

{'college_name': 'sastra', 'state': 'TamilNadu', 'DEPT': 'ECE', 'city': 'Kumbakaonam', 'pin-code': 612001}

In [29]:
print(id(d))
print(id(d1))

2335648053184
2335647060608

In [30]:
d1.clear()
print(d1)

{}

In [33]:
'''
Python Collections (Arrays)

There are four collection data types in the Python programming language:

1) List is a collection which is ordered and changeable. Allows duplicate members.
2) Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3) Set is a collection which is unordered and unindexed. No duplicate members.
4) Dictionary is a collection which is ordered and changeable. No duplicate members.'''


print('Collections in python')

Collections in python

In [34]:
print(d1)

{}

In [37]:
d={"college_name":"sastra","state":"TamilNadu","DEPT":"ECE","city":"Kumbakaonam","pin-code":612001}
d.update({"cgpa":7.6})

In [38]:
print(d)

{'college_name': 'sastra', 'state': 'TamilNadu', 'DEPT': 'ECE', 'city': 'Kumbakaonam', 'pin-code': 612001, 'cgpa': 7.6}

In [39]:
d={"name":"dhoni"}

In [40]:
print(d)

{'name': 'dhoni'}

In [41]:
d.setdefault("team","india")

'india'

In [42]:
print(d)

{'name': 'dhoni', 'team': 'india'}

In [43]:
d.setdefault("name","kohli")

'dhoni'

In [44]:
print(d)

{'name': 'dhoni', 'team': 'india'}

In [45]:
print(d)

{'name': 'dhoni', 'team': 'india'}

In [47]:
d1=d.fromkeys(d)

In [48]:
print(d1)

{'name': None, 'team': None}

In [49]:
print(d)

{'name': 'dhoni', 'team': 'india'}

In [65]:
# suntax for fromkeys()
# d.fromkeys(keys,values)
keys=("matches","runs")
d1=d.fromkeys(keys)

In [66]:
print(d1)

{'matches': None, 'runs': None}

In [67]:
keys=("matches","runs")
values=(120,5000)
d1={}.fromkeys(keys,values)
print(d1)

{'matches': (120, 5000), 'runs': (120, 5000)}

In [68]:
d={"name":"dhoni"}
print(d)

{'name': 'dhoni'}

In [70]:
t=d.setdefault("team")
print(t)

None

In [71]:
print(d)

{'name': 'dhoni', 'team': None}