# SET OPERATIONS IN PYTHON

In [4]:
s={}
print(type(s))

<class 'dict'>

In [ ]:
# NOTE: IF WE KEEP EMPTY FLOWER BRACES , IT WILL CONSIDER AS DICTIONARY BY DEFAULT

In [5]:
s=set()
print(s)

set()

In [7]:
s={1,2,3,4,5}
print(s)
print(type(s))

{1, 2, 3, 4, 5}
<class 'set'>

In [8]:
# ONE WAY OF DECLARING A SET
s={1,2,3,4,5,5,6,6,7}

print(s)

# NOTE IF WE KEEP ELEMENTS IN SET , THEN IT CONSIDERS THE ITERABLE AS SET

# BY DEFAULT , SET MECHANISM IS DEFINED IN SUCH A WAY THAT IT REMOVES THE DUPLICATE ELEMENTS

{1, 2, 3, 4, 5, 6, 7}

In [9]:
# IF WE GIVE MULTIPLE ELEMENTS SEPERATELY TO A SET , IT WILL THROW A ERROR
# WE NEED TO GIVE MULTIPLE ELEMENTS TOGETHER AS A LIST 
s=set(1,2,3,4,5,5,6,6,7)
print(s)

TypeError: set expected at most 1 argument, got 9

In [10]:
# SECOND WAY OF DECLARING A SET
s=set([1,2,3,4,5,6,6,7,7,8])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
s=set((1,2,3,4,5,5,6,6,7))
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [12]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [15]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1.intersection(s2)
print(s3)

{3, 4, 5}

In [17]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1.difference(s2)
print(s3)

{1, 2}

In [18]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1.symmetric_difference(s2)
print(s3)

{1, 2, 6, 7}

In [23]:
# NOTE HERE IF YOU USE UNDERSCORE UPDATE AT THE END , IT WILL NOT RESULTS A NEW SET , INSTAEAD IT UPDATES THE EXISTING SET
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1.difference_update(s2)
print(s1)
print(s3)

{1, 2}
None

In [25]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 6, 7}

In [ ]:
# ALTERNATE WAYS FOR PERFORMING SET OPERATIONS IN PYTHON

In [28]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1 | s2 # union operation
print(s3)

{1, 2, 3, 4, 5, 6, 7}

In [29]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1 & s2 # intersection operation
print(s3)

{3, 4, 5}

In [30]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1 - s2 # difference operation
print(s3)

{1, 2}

In [31]:
s1={1,2,3,4,5}
s2={3,4,5,6,7}
s3=s1 ^ s2 # symmetric-difference opeartion
print(s3)

{1, 2, 6, 7}

In [32]:
s1={1,2,3,4,5}
s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

In [34]:
s1={1,2,3,4,5}
s1.add(5) # If the element is already present in the set , It will not add that particular element into the set.
print(s1)

{1, 2, 3, 4, 5}

In [37]:
s1={1,2,3,4,5}
s2=s1.copy()
print(s1)
print(s2)
print("---------------------------------------------------")
print(id(s1))
print(id(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
---------------------------------------------------
2700637418208
2700637417536

In [38]:
s1={"dhoni","yuvaraj",183,333,"dhoni"}
print(s1)

{'dhoni', 333, 'yuvaraj', 183}

In [40]:
s1={1,2,3,"dhoni","kohli"}
print(s1)

{1, 2, 3, 'kohli', 'dhoni'}

In [41]:
s1={1,2,3,6,7,4,5}
print(s1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# NOTE: YOU CANNOT HAVE A LIST INSIDE A SET

In [42]:
s1={1,2,3,4,5,6}
s1.remove(2)
print(s1)

{1, 3, 4, 5, 6}

In [43]:
s1={1,2,3,4,5,6}
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}

In [47]:
s1={1,2,3,4,5}
s1.remove(6)
print(s1)

KeyError: 6

In [49]:
# NOTE :remove will throw an KeyError If the element you are trying to remove is not present in the set

# But If you use discard , It will not throw an error

s1={1,2,3,4,5}
s1.discard(6)
print(s1)

{1, 2, 3, 4, 5}

In [58]:
s1={1,2,3,4,5,6,7}
t=s1.pop() # Randomly removes one element from the set
print(t)
print(s1)

1
{2, 3, 4, 5, 6, 7}

In [70]:
# A SET is an unordered but can be mutable
# we can contain only immutable objects inside a set i.e integers and strings 
s={1,"dhoni",2,"kohli"}
print(s)
print(type(s))

{1, 'dhoni', 2, 'kohli'}
<class 'set'>

In [72]:
s1={1,2,3,}
s2={1,2,3,4,5,6}
ans=s1.issubset(s2)
print(ans)

True

In [73]:
s1={1,2,3,4,5,6}
s2={1,2,3}
ans=s1.issuperset(s2)
print(ans)

True

In [74]:
s1={1,2,3}
s2={4,5,6}
ans=s1.isdisjoint(s2) # disjoint is true that means No common elements should not be present in both the sets
print(ans)

True

In [75]:
s1={1,2,3}
s1.clear()
print(s1)

set()