# TUPLES IN PYTHON

In [1]:
t=(1,2,3)
print(t)

(1, 2, 3)

In [2]:
print(type(t))

<class 'tuple'>

In [3]:
t=(1,2,3,4,5,6,7)
print(t[0])

1

In [ ]:
# Note we can access the elements of a tuple with the help of index

In [5]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [6]:
li=[1,2,3,4,5]
t=tuple(li)
print(t)

(1, 2, 3, 4, 5)

In [12]:
t=(1,2,3,4)
ans=t.index(2)
print(ans)

1

In [13]:
t=(1,2,3,4,5,6)
ans=min(t)
print(ans)

1

In [14]:
ans=max(t)
print(ans)

6

In [15]:
ans=sum(t)
print(ans)

21

In [22]:
t2=t
print(t)
print(t2)
print(id(t))
print(id(t2))

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
1887475174368
1887475174368

In [23]:
# Tuples are Ordrered , immutable but allows duplicate values

t=(1,"dhoni",2,"kohli")
print(t)

(1, 'dhoni', 2, 'kohli')

In [24]:
print(len(t))

4

In [25]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [28]:
t=(1,2,3)*3

In [29]:
print(t[0:4]) # slicing can be performed

(1, 2, 3, 1)